@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />
<br />
<br />

<table class="table">
    
    <tr>
        <th> </th>
        <th>Biology</th>
        <th>Chemistry</th>
        <th>Maths</th>
        <th>PE</th>
        <th>Physics</th>
        <th>French</th>
        <th>Geography</th>

    </tr>
    <tr>
        <td>Total no of subject subtopics </td>
        <td>@ViewBag.CountBiology</td>
        <td>@ViewBag.CountChemistry</td>
        <td>@ViewBag.CountMaths</td>
        <td>@ViewBag.CountPE</td>
        <td>@ViewBag.CountPhysics</td>
        <td>@ViewBag.CountFrench</td>
        <td>@ViewBag.CountGeography</td>
    </tr>
    <tr id="C1">
        <td><strong>C1</strong> - Revision sub topics completed </td>
        <td>@ViewBag.CountBiologyComplete1</td>
        <td>@ViewBag.CountChemistryComplete1</td>
        <td>@ViewBag.CountMathsComplete1</td>
        <td>@ViewBag.CountPEComplete1</td>
        <td>@ViewBag.CountPhysicsComplete1</td>
        <td>@ViewBag.CountFrenchComplete1</td>
        <td>@ViewBag.CountGeographyComplete1</td>
    </tr>
    <tr id="C1">
        <td><strong>C1</strong> - Completed within last 24 hrs </td>
        <td>@ViewBag.CountBiologyComplete1Yesterday</td>
        <td>@ViewBag.CountChemistryComplete1Yesterday</td>
        <td>@ViewBag.CountMathsComplete1Yesterday</td>
        <td>@ViewBag.CountPEComplete1Yesterday</td>
        <td>@ViewBag.CountPhysicsComplete1Yesterday</td>
        <td>@ViewBag.CountFrenchComplete1Yesterday</td>
        <td>@ViewBag.CountGeographyComplete1Yesterday</td>
    </tr>
    <tr id="C1">
        <td><strong>C1</strong> - Completed within last 7 days </td>
        <td>@ViewBag.CountBiologyComplete1Lastweek</td>
        <td>@ViewBag.CountChemistryComplete1Lastweek</td>
        <td>@ViewBag.CountMathsComplete1Lastweek</td>
        <td>@ViewBag.CountPEComplete1Lastweek</td>
        <td>@ViewBag.CountPhysicsComplete1Lastweek</td>
        <td>@ViewBag.CountFrenchComplete1Lastweek</td>
        <td>@ViewBag.CountGeographyComplete1Lastweek</td>
    </tr>
    <tr id="C2">
        <td><strong>C2</strong> - Revision sub topics completed </td>
        <td>@ViewBag.CountBiologyComplete2</td>
        <td>@ViewBag.CountChemistryComplete2</td>
        <td>@ViewBag.CountMathsComplete2</td>
        <td>@ViewBag.CountPEComplete2</td>
        <td>@ViewBag.CountPhysicsComplete2</td>
        <td>@ViewBag.CountFrenchComplete2</td>
        <td>@ViewBag.CountGeographyComplete2</td>
    </tr>
    <tr id="C2">
        <td><strong>C2</strong> - Completed within last 24 hrs </td>
        <td>@ViewBag.CountBiologyComplete2Yesterday</td>
        <td>@ViewBag.CountChemistryComplete2Yesterday</td>
        <td>@ViewBag.CountMathsComplete2Yesterday</td>
        <td>@ViewBag.CountPEComplete2Yesterday</td>
        <td>@ViewBag.CountPhysicsComplete2Yesterday</td>
        <td>@ViewBag.CountFrenchComplete2Yesterday</td>
        <td>@ViewBag.CountGeographyComplete2Yesterday</td>
    </tr>
    <tr id="C2">
        <td><strong>C2</strong> - Completed within last 7 days </td>
        <td>@ViewBag.CountBiologyComplete2Lastweek</td>
        <td>@ViewBag.CountChemistryComplete2Lastweek</td>
        <td>@ViewBag.CountMathsComplete2Lastweek</td>
        <td>@ViewBag.CountPEComplete2Lastweek</td>
        <td>@ViewBag.CountPhysicsComplete2Lastweek</td>
        <td>@ViewBag.CountFrenchComplete2Lastweek</td>
        <td>@ViewBag.CountGeographyComplete2Lastweek</td>
    </tr>
    <tr id="C3">
        <td><strong>C3</strong> - Revision sub topics completed </td>
        <td>@ViewBag.CountBiologyComplete3</td>
        <td>@ViewBag.CountChemistryComplete3</td>
        <td>@ViewBag.CountMathsComplete3</td>
        <td>@ViewBag.CountPEComplete3</td>
        <td>@ViewBag.CountPhysicsComplete3</td>
        <td>@ViewBag.CountFrenchComplete3</td>
        <td>@ViewBag.CountGeographyComplete3</td>
    </tr>
    <tr id="C3">
        <td><strong>C3</strong> - Completed within last 24 hrs </td>
        <td>@ViewBag.CountBiologyComplete3Yesterday</td>
        <td>@ViewBag.CountChemistryComplete3Yesterday</td>
        <td>@ViewBag.CountMathsComplete3Yesterday</td>
        <td>@ViewBag.CountPEComplete3Yesterday</td>
        <td>@ViewBag.CountPhysicsComplete3Yesterday</td>
        <td>@ViewBag.CountFrenchComplete3Yesterday</td>
        <td>@ViewBag.CountGeographyComplete3Yesterday</td>
    </tr>
    <tr id="C3">
        <td><strong>C3</strong> - Completed within last 7 days </td>
        <td>@ViewBag.CountBiologyComplete3Lastweek</td>
        <td>@ViewBag.CountChemistryComplete3Lastweek</td>
        <td>@ViewBag.CountMathsComplete3Lastweek</td>
        <td>@ViewBag.CountPEComplete3Lastweek</td>
        <td>@ViewBag.CountPhysicsComplete3Lastweek</td>
        <td>@ViewBag.CountFrenchComplete3Lastweek</td>
        <td>@ViewBag.CountGeographyComplete3Lastweek</td>
    </tr>

    <tr id="C4">
        <td><strong>C4</strong> - Revision sub topics completed </td>
        <td>@ViewBag.CountBiologyComplete4</td>
        <td>@ViewBag.CountChemistryComplete4</td>
        <td>@ViewBag.CountMathsComplete4</td>
        <td>@ViewBag.CountPEComplete4</td>
        <td>@ViewBag.CountPhysicsComplete4</td>
        <td>@ViewBag.CountFrenchComplete4</td>
        <td>@ViewBag.CountGeographyComplete4</td>
    </tr>
    <tr id="C4">
        <td><strong>C4</strong> - Completed within last 24 hrs </td>
        <td>@ViewBag.CountBiologyComplete4Yesterday</td>
        <td>@ViewBag.CountChemistryComplete4Yesterday</td>
        <td>@ViewBag.CountMathsComplete4Yesterday</td>
        <td>@ViewBag.CountPEComplete4Yesterday</td>
        <td>@ViewBag.CountPhysicsComplete4Yesterday</td>
        <td>@ViewBag.CountFrenchComplete4Yesterday</td>
        <td>@ViewBag.CountGeographyComplete4Yesterday</td>
    </tr>
    <tr id="C4">
        <td><strong>C4</strong> - Completed within last 7 days </td>
        <td>@ViewBag.CountBiologyComplete4Lastweek</td>
        <td>@ViewBag.CountChemistryComplete4Lastweek</td>
        <td>@ViewBag.CountMathsComplete4Lastweek</td>
        <td>@ViewBag.CountPEComplete4Lastweek</td>
        <td>@ViewBag.CountPhysicsComplete4Lastweek</td>
        <td>@ViewBag.CountFrenchComplete4Lastweek</td>
        <td>@ViewBag.CountGeographyComplete4Lastweek</td>
    </tr>
    <tr id="C5">
        <td><strong>C5</strong> - Revision sub topics completed </td>
        <td>@ViewBag.CountBiologyComplete5</td>
        <td>@ViewBag.CountChemistryComplete5</td>
        <td>@ViewBag.CountMathsComplete5</td>
        <td>@ViewBag.CountPEComplete5</td>
        <td>@ViewBag.CountPhysicsComplete5</td>
        <td>@ViewBag.CountFrenchComplete5</td>
        <td>@ViewBag.CountGeographyComplete5</td>
    </tr>
    <tr id="C5">
        <td><strong>C5</strong> - Completed within last 24 hrs </td>
        <td>@ViewBag.CountBiologyComplete5Yesterday</td>
        <td>@ViewBag.CountChemistryComplete5Yesterday</td>
        <td>@ViewBag.CountMathsComplete5Yesterday</td>
        <td>@ViewBag.CountPEComplete5Yesterday</td>
        <td>@ViewBag.CountPhysicsComplete5Yesterday</td>
        <td>@ViewBag.CountFrenchComplete5Yesterday</td>
        <td>@ViewBag.CountGeographyComplete5Yesterday</td>
    </tr>
    <tr id="C5">
        <td><strong>C5</strong> - Completed within last 7 days </td>
        <td>@ViewBag.CountBiologyComplete5Lastweek</td>
        <td>@ViewBag.CountChemistryComplete5Lastweek</td>
        <td>@ViewBag.CountMathsComplete5Lastweek</td>
        <td>@ViewBag.CountPEComplete5Lastweek</td>
        <td>@ViewBag.CountPhysicsComplete5Lastweek</td>
        <td>@ViewBag.CountFrenchComplete5Lastweek</td>
        <td>@ViewBag.CountGeographyComplete5Lastweek</td>
    </tr>
    <tr id="C6">
        <td><strong>C6</strong> - Revision sub topics completed </td>
        <td>@ViewBag.CountBiologyComplete6</td>
        <td>@ViewBag.CountChemistryComplete6</td>
        <td>@ViewBag.CountMathsComplete6</td>
        <td>@ViewBag.CountPEComplete6</td>
        <td>@ViewBag.CountPhysicsComplete6</td>
        <td>@ViewBag.CountFrenchComplete6</td>
        <td>@ViewBag.CountGeographyComplete6</td>
    </tr>
    <tr id="C6">
        <td><strong>C6</strong> - Completed within last 24 hrs </td>
        <td>@ViewBag.CountBiologyComplete6Yesterday</td>
        <td>@ViewBag.CountChemistryComplete6Yesterday</td>
        <td>@ViewBag.CountMathsComplete6Yesterday</td>
        <td>@ViewBag.CountPEComplete6Yesterday</td>
        <td>@ViewBag.CountPhysicsComplete6Yesterday</td>
        <td>@ViewBag.CountFrenchComplete6Yesterday</td>
        <td>@ViewBag.CountGeographyComplete6Yesterday</td>
    </tr>
    <tr id="C6">
        <td><strong>C6</strong> - Completed within last 7 days </td>
        <td>@ViewBag.CountBiologyComplete6Lastweek</td>
        <td>@ViewBag.CountChemistryComplete6Lastweek</td>
        <td>@ViewBag.CountMathsComplete6Lastweek</td>
        <td>@ViewBag.CountPEComplete6Lastweek</td>
        <td>@ViewBag.CountPhysicsComplete6Lastweek</td>
        <td>@ViewBag.CountFrenchComplete6Lastweek</td>
        <td>@ViewBag.CountGeographyComplete6Lastweek</td>
    </tr>
    </table>



    @section Scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $('div').mouseenter(function () {
                    $(this).animate({
                        height: '+=10px'
                    });
                });
                $('div').mouseleave(function () {
                    $(this).animate({
                        height: '-=10px'
                    });
                });
            });
        </script>

    }
